
.outerLayer {
    display: flex;
    flex-direction: column;
    max-width: 14rem;
    min-width: 14rem;
    min-height: 16rem;
    border-style: solid;
}

.title {
    padding: 1rem;
    color: brown;
}

.info {
    padding: 1rem;
    color: aqua;
}