
.outerLayer {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    min-width: 15rem;
    min-height: 18rem;
    border-style: solid;
    margin-bottom: 0.5rem;

}

.title {
    color: brown;
}

/* .info {
    padding: 0.5rem;
} */

.image {
    margin: auto;
}