
.main {
  /* background-image: url('../assets/images/rick.jpg'); */
  background-size: contain;
  padding: 2%;
  display: block;
  margin: auto;
  text-align: center;
}


.flexContainer{
  display: flex;
  justify-content: space-around ;
  flex-wrap: wrap;

}


.searchBox{
  min-width: 50%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 6px 10px;
  font-size: x-large;

}