.paginationFormat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem;
}

.page button{
    padding: 5px 10px;
    background-color: #F5F5F5;
    border: none;
}

.page button:hover{
    background-color: #00425A;
    color: #F5F5F5;
}

.page button:active{
    background-color: #E8E2E2;
}

.mobilePagination select{
    font-size: large;
    padding: 0.2rem 2rem;
}